.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse: collapse;
  padding: 5px;
}
td,
th {
  border: 1px solid pink;
  padding: 5px;
}
